html
  head
    title Tweetiment
    meta(name='viewport',content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
    link(href='/styles/global.css',rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css',rel='stylesheet')
  body
    header
      div.container
        form#search
          div.input-group
            input#terms.form-control(type='text',placeholder='Search for...')
            span.input-group-btn
              button.btn.btn-default(type='submit') Go!
    main
      div.intro
        p Welcome to
        h1 tweetiment
        p.instructions Simply enter the term to search for and&nbsp;hit&nbsp;go!
        div.trends.top
          p Might we interest you in one of these currently trending topics?
          div#trends Loading...
      div.stats.container
        h2 Statistics
        p#count Tweets analyzed: 
          span 0
        p#average Average sentiment: 
          span 0
        p#worst Worst sentiment: 
          span 0
          a.link
            i.fa.fa-search
        p#best Best sentiment: 
          span 0
          a.link
            i.fa.fa-search
      div.tweets
        div.container.top Loading...
      div.settings
        div.container.top
          h2 Settings
          p Real Time Analysis
          div.btn-group
            button.btn.btn-default.active(type='button',rel='on') On
            button.btn.btn-default(type='button',rel='off') Off
          p Tweets Per Minute
          div.input-group.col-xs-4.col-sm-3.col-md-2.number
            span.input-group-btn
              button.btn.btn-default(type='button',rel='down') -
            input#terms.form-control(type='text',value='12',readonly)
            span.input-group-btn
              button.btn.btn-default(type='button',rel='up') +
          p Sentiment Coloring
          div.btn-group#coloring
            button.btn.btn-default.active(type='button',rel='on') On
            button.btn.btn-default(type='button',rel='off') Off
    footer
      nav
        ul
          li
            a.tab(rel='intro',alt='Home')
              i.fa.fa-home
          li
            a.tab(rel='stats',alt='Statistics')
              i.fa.fa-bar-chart
          li
            a.tab(rel='tweets',alt='Tweets')
              i.fa.fa-list-ul
          li
            a.tab(rel='settings',alt='Settings')
              i.fa.fa-cog
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/scripts/jquery.tweetParser.min.js')
    script(src='/scripts/global.js')