html
  head
    title Tweetiment
    meta(name='viewport',content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
    link(href='/styles/global.css',rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css',rel='stylesheet')
  body
    header
      div.container
        form#search
          div.input-group
            input#terms.form-control(type='text',placeholder='Search for...')
            span.input-group-btn
              button.btn.btn-default(type='submit') Go!
    main
      div.intro
          p Welcome to
          h1 tweetiment
          p.instructions Simply enter the term to search for and&nbsp;hit&nbsp;go!
      div.stats.container
        h2 Statistics
        p#count Tweets analyzed: 
          span 0
        p#average Average sentiment: 
          span 0
        p#worst Worst sentiment: 
          span 0
          a.link
            i.fa.fa-search
        p#best Best sentiment: 
          span 0
          a.link
            i.fa.fa-search
      div.tweets Loading...
      div.settings Settings
    footer
      nav
        ul
          li
            a.tab(rel='stats') Stats
          li
            a.tab(rel='tweets') Raw Tweets
          li
            a.tab(rel='settings') Settings
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/scripts/jquery.tweetParser.min.js')
    script(src='/scripts/global.js')