body {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin: 0;
	padding-top: 4.125em;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0.5em 0;
	background-color: #2a3753;
	color: #fff;
}
	form {
		margin: 0.5em 0;
	}
div.intro {
	text-align: center;
	margin-top: 2em;
}
	h1 {
		margin: 0;
		font-size: 2em;
	}
	p.instructions {
		margin-top: 2em;
	}
div.stats {
	display: none;
	padding-top: 15px;
}
div.tweets {
	display: none;
}
	div.tweet {
		overflow: hidden;
		padding: .5em;
		border-bottom: 1px solid #999;
	}
		img.profile-image {
			float: left;
			margin-right: 1em;
			height: 48px;
			width: 48px;
		}
		h2 {
			margin: 0;
			font-size: 1.5em;
		}
		p {
			margin: 0;
		}
div.settings {
	display: none;
}
footer {
	display: none;
	position: fixed;
	bottom: 0;
	margin: 0;
	width: 100%;
	padding: 0.5em 0;
	background-color: #2a3753;
	color: #fff;
}
	nav ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
		nav li {
			display: inline-block;
			width: 33%;
			text-align: center;
		}
		nav a {
			color: #fff;
			cursor: hand;
		}
		nav a:hover {
			color: #559cd9;
			text-decoration: none;
		}
.hidden {
	display: none;
}
a.link {
	margin-left: 0.5em;
	cursor: hand;
}