body {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin: 0;
	padding-top: 4.125em;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0.5em 0;
	background-color: #2a3753;
	color: #fff;
}
	form {
		margin: 0.5em 0;
	}
div.intro {
	text-align: center;
	margin-top: 2em;
}
	h1 {
		margin: 0;
		font-size: 2em;
	}
	p.instructions {
		margin-top: 2em;
	}
div.stats {
	display: none;
	padding-top: 15px;
}
div.tweets {
	display: none;
}
	div.tweet {
		overflow: hidden;
		padding: .5em;
		border-bottom: 1px solid #999;
	}
		.pos-1 { background-color: #FAFBFC; }
		.pos-2 { background-color: #F6F9F6; }
		.pos-3 { background-color: #F2F7F0; }
		.pos-4 { background-color: #EEF5EA; }
		.pos-5 { background-color: #EAF3E4; }
		.pos-6 { background-color: #E6F1DE; }
		.pos-7 { background-color: #E2EFD8; }
		.pos-8 { background-color: #DEEDD2; }
		.pos-9 { background-color: #DAEBCC; }
		.pos-10 { background-color: #D6E9C6; }
		.pos-11 { background-color: #C1D2B2; }
		.neg-1 { background-color: #F8F3F3; }
		.neg-2 { background-color: #F5E9E9; }
		.neg-3 { background-color: #F2DFDF; }
		.neg-4 { background-color: #EFD5D5; }
		.neg-5 { background-color: #ECCBCB; }
		.neg-6 { background-color: #E9C1C1; }
		.neg-7 { background-color: #E6B7B7; }
		.neg-8 { background-color: #E3ADAD; }
		.neg-9 { background-color: #E0A3A3; }
		.neg-10 { background-color: #DD9999; }
		.neg-11 { background-color: #C78A8A; }

		img.profile-image {
			float: left;
			margin-right: 1em;
			height: 48px;
			width: 48px;
		}
		h2 {
			margin: 0;
			font-size: 1.5em;
		}
		p {
			margin: 0;
		}
div.settings {
	display: none;
}
	div.settings p {
		margin-top: 1em;
	}
footer {
	position: fixed;
	bottom: 0;
	margin: 0;
	width: 100%;
	background-color: #2a3753;
	color: #fff;
}
	nav ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
		nav li {
			display: inline;
			text-align: center;
		}
		nav a {
			color: #fff;
			cursor: hand;
			display: inline-block;
			padding: 0.5em 0;
			width: 25%;
			font-size: 1.5em;
		}
		nav a:hover {
			background-color: #559cd9;
			text-decoration: none;
		}
		nav a.active {
			background-color: #458cc9;
			color: #23527c;
		}
.hidden {
	display: none;
}
.top {
	margin-top: 1em;
}
a.link {
	margin-left: 0.5em;
}
a {
	cursor: hand;
}